# astronomer-cosmos==1.2.0
astronomer-cosmos==1.2.3
apache-airflow-providers-snowflake==4.4.2
apache-airflow-providers-slack==7.3.2
dbt-core==1.6.6
dbt-snowflake==1.6.4
virtualenv

# Ensure all dependencies are met and try again. If using a Celery based executor install a 3.3.0+ version of the Celery provider. If using a Kubernetes executor, install a 7.4.0+ version of the CNCF provider
apache-airflow-providers-celery==3.4.1
